/*Master styles*/
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/*Nav styles*/
.navWrapper { 
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}

.topLeft {
    display: flex;
}

.navWrapper > .topLeft > div {
    margin-right: 20px;
    font-size: 0.9em;
}

.navLinkWrapper {
    height : 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navLinkWrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.navLinkWrapper:hover {
    border-bottom: 1px solid black;
}

.navLinkWrapper:hover a {
    color: black;
}

.activeNavLink {
    border-bottom: 1px solid black;
}

.activeNavLink a {
    color: black !important;
}

/*Portfolio styles*/

.portfolioItemsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolioItemWrapper {
    position: relative;
}

.portfolioImgBackground {
    height: 460px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgTextWrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.logoWrapper img {
    width: 200%;
    margin-bottom: 20px;
}

.imgTextWrapper .logoWrapper img {
    transition: 1s;
    opacity: 0;
}

.imgTextWrapper:hover .logoWrapper img {
    transition: 1s;
    opacity: 1;
}

.imgTextWrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.imgTextWrapper:hover .subtitle {
    color: lightgoldenrodyellow;
}

.imgDarken {
    transition: 1s;
    filter:brightness(10%);
}

/*About page styles*/
.twoColumnWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profileImageWrapper img {
    width: 100%;
}

.profileContentWrapper h1 {
    color: darkorange;
}